
/************** Loader **************/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  background: $white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader img {
  animation: logoeffect2 0.9s linear 0s infinite;
  position: relative;
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;

  @media screen and (max-width: $screen-xs) {
    max-width: 80px;
  max-height: 80px;
  }
}

@keyframes logoeffect2 {
  100% {
    transform: rotateY(360deg);
  }
}

// Scroll Top Btn

.scrollToTop {
  position: fixed;
  bottom: -30%;
  @include dir-right(50px);
  @include circle(40px);
  @include center;
  background: #fff;
  border: 1px solid $main;
  font-size: 14px;
  animation: lab_top_up 5s linear infinite;  
  transition: all 0.7s ease;
  z-index: 788;
  
  &.active {
    bottom: 20px;
    opacity: 1;
    
  }
  
  @media screen and (max-width:$screen-sm) {
    @include dir-right(25px);
  }
}
.scrollToTop i {
  color: $main;
  z-index: 1;
  // font-size: 18px;
}

@keyframes lab_top_up {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
.pluse_1,
.pluse_2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(141, 198, 63, 0.1);
  position: absolute;
  display: block;
  z-index: -1;
}

.pluse_1::after,
.pluse_1::before,
.pluse_2::after,
.pluse_2::before {
  position: absolute;
  content: "";
  background: $main;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.pluse_1::after,
.pluse_2::after {
  width: 30px;
  height: 30px;
  background: transparent;
  margin-left: -15px;
  margin-top: -15px;
}
.pluse_1:before,
.pluse_2:before {
  width: 40px;
  height: 40px;
}

.pluse_1 {
  -webkit-animation: pluse_animate 3s infinite linear;
  animation: pluse_animate 3s infinite linear;
}

.pluse_2::before {
  -webkit-animation: pluse_animate 3s infinite linear;
  animation: pluse_animate 3s infinite linear;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  margin-left: 0;
  margin-top: 0;
}

@keyframes pluse_animate {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.3);
    transform: translate(-50%, -50%) scale(0.3);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(2);
    transform: translate(-50%, -50%) scale(2);
  }
}

// Whatsapp
.floating-button {
  position: relative;
  @include circle(42px);
  background-color: #25d366;
  color: white !important;
  @include center;
  font-size: 14px;
  cursor: pointer;
  z-index: 11;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #58ea00;
    left: -7px;
    right: -7px;
    top: -7px;
    bottom: -7px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
  }
  &:after {
    animation-delay: .5s;
  }
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

// Search
.main-search {
  width: 500px;
  position: fixed;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.8s cubic-bezier(0.68, -0.3, 0.265, 1.3);
  z-index: 1100;
  
  &.active {
    top: 110px;
  }

  @media screen and (max-width: $screen-md) {
    width: calc(100% - 40px);
  }

  .main-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include dir-right(10px);
    // color: #3baeaa;
    @include circle(40px);
    @include center;
    font-size: 15px;
    cursor: pointer;
    background-color: #dbeded;
    border: none;
    outline: none;
    padding: 0;

    .ic {
      max-width: 16px;
      cursor: pointer;
    }
  }
}

.overlay-m {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: none;
  z-index: 1030;
}

.bg-transparent {
  background-color: transparent;
}

.w-xxs-100 {
  @media screen and (max-width: $screen-sm) {
    min-width: 170px !important;
  }

  @media screen and (max-width: $screen-xs) {
    min-width: 145px !important;
  }

  @media screen and (max-width: 360px) {
    width: 100% !important;
  }
}

.w-sm-100 {
  @media screen and (max-width: $screen-sm) {
    min-width: 220px !important;
  }
}

.shadow {
  box-shadow: 0 0.1rem 1rem rgba($black, 0.1) !important;
}

.shadow-0 {
  box-shadow: none !important;
}

.main-shadow {
  box-shadow: $main-shadow;
}

.shadow-sm {
  box-shadow: 0 0 4px 0 rgba($black, 0.1);
}

.shadow-lg-0 {
  @media screen and (max-width: $screen-lg) {
    box-shadow: unset;
  }
}

.shadow-sm-0 {
  @media screen and (max-width: $screen-sm) {
    box-shadow: unset;
  }
}

.grid-5 {
  @include grid(210px, 15px);

  @media screen and (max-width: 510px) {
    @include grid(150px, 15px);
  }
}



.grid-4 {
  @include grid(250px, 20px);

  @media screen and (max-width: $screen-md) {
    @include grid(210px, 20px);
  }
}

.grid-3 {
  @include grid(310px, 40px);
}

.grid-2 {
  @include grid(435px, 40px);

  @media screen and (max-width: $screen-lg) {
    @include grid(260px, 20px);
  }

  @media screen and (max-width: $screen-sm) {
    @include grid(275px, 20px);
  }

  &.g-4 {
    @include grid(300px, 20px);
  }
}

.d-flex-c {
  display: flex;
  align-items: center;
}

.d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec_bg{
  position: absolute;
  top: 0;
  right: 0;
  max-width: 200px;
  max-height: 190px;
  z-index: -1;
}

.sec_bg2{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(-180deg);
  max-width: 200px;
  max-height: 190px;
  z-index: -1;
}

.sec_bg3{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: .3;
}

.mt-14 {
  margin-top: 14px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-16 {
  margin-bottom: 16px;
}

.pl-25 {
  @include dir-padding-right(25px !important);
}

.ml-25 {
  @include dir-margin-right(25px !important);
}

.mx-xs-0 {
  @media screen and (min-width: $screen-xs) {
    margin-left: unset !important;
    margin-right: unset !important;
  }
}

/********************* DropDown *********************/

.dropdown-m-container {
  position: relative;

  .dropdown-m {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: $main-shadow;
    opacity: 0;
    padding: 10px;
    top: 50px;
    z-index: -1;
    pointer-events: none;
    transition: all 0.8s cubic-bezier(0.68, -0.3, 0.265, 2.1);
    width: 180px;
    max-height: 400px;
    overflow-y: auto;
    @include dir-left(0);

    @media screen and (max-width: $screen-xs) {
      @include dir-left(50%);
      #{$ltr} & {
        transform: translateX(-50%);
      }
      #{$rtl} & {
        transform: translateX(50%);
      }
    }

    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 25px;
      background-color: $main;
    }

    &.active-drop {
      opacity: 1;
      top: 45px;
      z-index: 55;
      pointer-events: auto;
    }

    &.user-drop {
      width: 150px;
    }

    &.not-drop {
      width: 240px;
    }

    .drop-link {
      display: block;
      padding: 12px;
      border-radius: 7px;
      @include between;
      gap: 10px;
      color: $black;
      font-size: 13px;
      transition: $main-transition;

      i {
        font-size: 14px;
      }

      &:hover {
        background-color: #f9f9f9;
      }
    }

    .drop-text {
      display: block;
      padding: 10px 10px;
      text-align: center;
      color: $dark;
      font-size: 14px;
      line-height: 1.6;
      height: 62.9px;
      border-bottom: 1px solid #f0f0f0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .drop-text:last-of-type {
      border-bottom: none;
    }

    .more-anchor {
      display: block;
      margin-top: 8px;
      text-align: center;
      color: #0d6efd;
      text-decoration: underline !important;
    }
  }
}

/********************* Collapse *********************/

.nav-collapse {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 5px;

  .collapse-content {
    overflow: hidden;
    padding: 20px 12px;
    background-color: #f9f9f9;
    position: relative;
    display: none;

    .coll {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      .line {
        width: 15px;
        height: 2px;
        background-color: $main;
        @include dir-margin-right(8px);
      }

      .coll-link {
        color: $black;
        font-size: 15px;
        transition: $main-transition;

        &:hover {
          color: $sec;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      @include dir-left(12px);
      top: 0;
      width: 2px;
      height: 0;
      background-color: $main;
      transition: all 0.5s ease;
    }
  }

  .drop-link {
    i {
      transition: $main-transition;
    }
  }

  &.active {
    .collapse-content {
      &::after {
        height: calc(100% - 31px);
      }
    }

    .drop-link {
      background-color: #f9f9f9;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      i {
        transform: rotate(-180deg);
      }
    }
  }
}


/********************* Titles *********************/


.main-title {
  color: $black;
  font-size: 17px;
  position: relative;
  width: fit-content;
  font-family: fontDemi;

  @media screen and (max-width: $screen-xs) {
    font-size: 15px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: $main;
    bottom: -10px;
    border-radius: 15px;
  }

  &::before {
    @include dir-left(0);
    width: calc(100% - 13px);
  }

  &::after {
    @include dir-right(0);
    width: 10px;
  }

  @media screen and (max-width: $screen-sm) {
    font-size: 17px;
  }

  @media screen and (max-width: $screen-xs) {
    font-size: 16px;
  }

  &.sm {
    font-size: 16px;
  }
}

.main_text{
  font-size: 15px;
  color: $main;
  text-align: center;
  margin-bottom: 22px;
}

.main-item {
  display: flex;
  // align-items: center;
  gap: 5px;
  margin-bottom: 12px;
  min-height: 23px;

  &:last-child {
    margin-bottom: 0;
  }

  .item-img {
    max-width: 12px;
    max-height: 16px;
  }

  .item-text {
    font-size: 13px;
    color: $white2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media screen and (max-width: $screen-xs) {
      white-space: wrap;
      overflow: unset;
    }
  }
}

.copy-item {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 45px;
  // min-width: 130px;
  background-color: $light6;
  min-height: 34px;

  #{$ltr} & {
    padding: 4px 4px 4px 12px;
  }
  #{$rtl} & {
    padding: 4px 12px 4px 4px;
  }

  &.pd {
    padding: 4px 12px !important;
  }

  .ic1 {
    width: 14px;
    height: 14px;
  }

  .copy-num {
    font-size: 11px;
    color: $dark3;
  }

  .circle {
    @include circle(26px);
    @include center;
    background-color: $dark2;
    cursor: pointer;

    .ic2 {
      max-width: 16px;
      max-height: 16px;
    }
  }
}

.price-con {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.price {
  font-size: 17px;
  color: $main;
  font-family: fontDemi;
}

.not-price {
  font-size: 17px;
  color: $red;
  font-family: fontDemi;
  text-decoration: line-through;
}

/********************* Buttons *********************/

.left-btn {
  transition: all 0.3s ease-in-out 0s;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover {
    background: $main;
    border-color: $main;
    color: #ffffff;

    &:after {
      transform: scaleX(1);
    }
  }
}

.up {
  &::before,
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: $white;
    transition: 0.6s ease-in-out;
  }

  &::before {
    top: -2em;
    left: -2em;
  }

  &::after {
    left: calc(100% + 2em);
    top: calc(100% + 2em);
  }

  &:hover {
    color: $main;

    &::before,
    &::after {
      height: 450px;
      width: 450px;
    }
  }

  &:active {
    // filter: brightness(.9);
    transform: scale(0.9);
  }
}

.bell:hover {
  .ic {
    animation: bellRing 0.9s both;
  }
}

/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

.button:active {
  transform: scale(0.8);
}

// Main Button
.main-btn {
  @include center;
  gap: 7px;
  min-width: 150px;
  background-color: $main;
  border: 1px solid $main;
  border-radius: 7px;
  color: $white;
  font-size: 14px;
  height: 44px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  overflow: hidden;
  padding: 10px 12px;
  position: relative;
  z-index: 1;

  @media screen and (max-width: $screen-sm) {
    height: 45px;
    font-size: 13px;
    min-width: 132px;
  }
  
  @media screen and (max-width: $screen-xs) {
    font-size: 12px;
  }

  &.light {
    background-color: $light5;
    color: $main;
    border-color: $light5;

    // &:hover{
    //   background-color: $sec;
    //   color: $white;
    // }
  }

  &.red {
    background-color: $red;
    color: $white;
    border-color: $red;
  }

  &.white {
    background-color: $white;
    color: $black;
    border-color: $black;

    &:hover {
      background-color: $black;
      color: #fff;
    }
  }

  &.transparent {
    background-color: transparent;
    color: $main;
    border-color: $main;

    &:hover {
      background-color: $main;
      color: #fff;
    }
  }

  &.sm {
    min-width: 120px;
    font-size: 14px;
    height: 44px;
  }

  &.xs {
    width: 80px;
    font-size: 13px;
    height: 32px;
    // border-radius: 10px;
  }

  &.md {
    min-width: 190px;
    height: 46px;
    font-size: 16px;
  }

  &.lg {
    width: 210px;
    font-size: 16px;
    height: 46px;
    // border-radius: 8px;

    @media screen and (max-width: $screen-sm) {
      font-size: 16px;
      width: 140px;
      height: 48px;
    }

    @media screen and (max-width: $screen-xs) {
      font-size: 15px;
      width: 130px;
      height: 47px;
    }

    @media screen and (max-width: $screen-xxs) {
      width: 120px;
      height: 45px;
    }
  }

  &.xl {
    width: 250px;
    height: 54px;
    font-size: 18px;
    border-radius: 8px;

    @media screen and (max-width: $screen-sm) {
      width: 200px;
      height: 48px;
      font-size: 16px;
      border-radius: 8px;
    }
  }

  .ic {
    max-width: 15px;
    max-height: 13px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 14px;

  &.lg {
    gap: 10px 23px;
  }

  @media screen and (max-width: $screen-sm) {
    .main-btn {
      width: fit-content;
      min-width: 150px;
      padding: 0 12px;
    }
  }
}

/********************* Colors *********************/

.c-black {
  color: $black !important;
}

.c-white {
  color: $white !important;
}

.c-black {
  color: $black;
}

.c-main {
  color: $main !important;
}

.c-red {
  color: $red !important;
}

.bg-main {
  background-color: $main;
}

.bg-white {
  background-color: $white;
}

.bg-light {
  background-color: $light;
}

.bg-smain {
  background-color: #d8e8ef;
}

.c-yellow {
  color: $yellow;
}

.c-text {
  color: #8d8d8d;
}

.c-text2 {
  color: #848688;
}

.c-dark {
  color: #434343;
}

/********************* Classes *********************/

.bb {
  border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);
}

.bl {
  border-left: 1px solid rgba($color: $black, $alpha: 0.1);
}

.w-100 {
  width: 100%;
}

.w-space-normal {
  white-space: normal !important;
}

.cu-pointer {
  cursor: pointer;
}

.not-pointer {
  cursor: auto !important;
}

.form-style {
  background-color: $white;
  border-radius: 20px;
}

.form-padding {
  padding: 40px 35px;

  @media screen and (max-width: $screen-xs) {
    padding: 30px 20px;
  }
}

.form-head {
  font-size: 15px;
  color: $main;
  margin-bottom: 10px;
  text-align: center;
  font-family: fontDemi;
}

.form-info {
  font-size: 15px;
  color: $black;
  margin-bottom: 25px;
  text-align: center;
}

.form-pass {
  text-align: end;

  .link {
    color: $black;
    font-size: 15px;
  }
}

.info {
  font-size: 14px;
  line-height: 1.7;
}

.main-bb {
  border-bottom: 1px solid rgba($color: $black, $alpha: 0.2) !important;
}

.lh-base {
  line-height: 1.7 !important;
}

.lh-5 {
  line-height: 1.5 !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px !important;

  @media screen and (max-width: $screen-xs) {
    font-size: 15px !important;
  }
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;

  @media screen and (max-width: $screen-xs) {
    font-size: 18px !important;
  }
}

.lh {
  line-height: 1.7;
}

.ff-d {
  font-family: fontDemi !important;
}

.ff-b {
  font-family: fontBold !important;
}

.ff-m {
  font-family: fontMed !important;
}

.main-border {
  border: 1px solid $border-color;
}

.main-border-b {
  border-bottom: 1px solid $main;
}

.main-padding {
  padding: 54px 0;

  @media screen and (max-width: $screen-xs) {
    padding: 38px 0;
  }
}

.main-pt {
  padding-top: 54px;

  @media screen and (max-width: $screen-xs) {
    padding-top: 35px;
  }
}

.main-pb {
  padding-bottom: 54px !important;

  @media screen and (max-width: $screen-xs) {
    padding-bottom: 38px;
  }
}

.mb-6 {
  margin-bottom: 4rem;
  
  @media screen and (max-width: $screen-xs) {
    margin-bottom: 2.5rem;
  }
}

.sec-padding {
  padding: 30px 0;
}

.sec-pt {
  padding-top: 30px;
}

.sec-pb {
  padding-bottom: 30px;
}

.rounded-3 {
  border-radius: 0.6rem !important;
}

.fadeInRight {
  #{$ltr} & {
    animation-name: fadeInLeft;
  }
  
  #{$rtl} & {
    animation-name: fadeInRight;
  }
}

.fadeInLeft {
  #{$ltr} & {
    animation-name: fadeInRight;
  }
  
  #{$rtl} & {
    animation-name: fadeInLeft;
  }
}

.main-text {
  font-size: 15px;
  line-height: 1.9;
  color: $black;
  font-family: fontReg;
}

.sec-text {
  font-size: 15px;
  color: $black;
  display: flex;
  gap: 7px;
}

.name-text {
  font-size: 13px;
  color: $light2;
  font-family: fontReg;
}

.main-img {
  @include circle(52px);
  border: 3px solid $white;
  box-shadow: $img-shadow;
  object-fit: cover;
  transition: $main-transition;

  &.lg {
    @include circle(100px);
  }
}

.main-imgs {
  display: flex;
  align-items: center;

  .main-img {
    &:not(:last-child) {
      @include dir-margin-right(-8px);
    }
  }
}

.desc {
  font-size: 15px;
  color: $black;
  line-height: 1.9;

  @media screen and (max-width: $screen-xs) {
    font-size: 13px;
    line-height: 1.6;
  }

  &.sm {
    font-size: 12px;
    line-height: 1.4;
  }

  &.lg {
    font-size: 16px;
    line-height: 2.2;

    @media screen and (max-width: $screen-xs) {
      font-size: 15px;
    }
  }
}


.tabs-m {
  @include center;
  flex-wrap: wrap;
  gap: 15px;

  @media screen and (max-width: $screen-sm) {
    gap: 10px;
  }

  .tab-m {
    min-width: 190px;
    min-height: 46px;
    cursor: pointer;
    font-size: 15px;
    color: $black;
    border: 1px solid $black;
    background-color: $white;
    @include center;
    border-radius: 7px;
    transition: $main-transition;

    &.active {
      color: $white;
      background-color: $dark;
      border-color: $dark;
    }

    @media screen and (max-width: $screen-md) {
      min-width: 150px;
      min-height: 44px;
    }

    @media screen and (max-width: $screen-sm) {
      min-width: 130px;
      min-height: 44px;
    }

    @media screen and (max-width: $screen-xs) {
      min-width: fit-content;
      padding: 0 16px;
      border-radius: 5px;
      font-size: 14px;
    }
  }
}

.height-full {
  height: 100%;
}

/********************* Inputs *********************/
.input-g {
  margin-bottom: 15px;
  display: block;
}

.main-label {
  color: $black;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;

  .hint {
    color: $red;
    font-size: 16px;
  }

  @media screen and (max-width: $screen-sm) {
    font-size: 15px;
  }

  @media screen and (max-width: $screen-xs) {
    font-family: fontMed;
    font-size: 15px;
  }
}

.main-input {
  position: relative;

  .input-me {
    width: 100%;
    min-height: 48px;
    border-radius: 7px;
    padding: 0 12px;
    outline: none;
    border: none;
    font-size: 14px;
    color: $dark;
    transition: $main-transition;
    border: 1px solid $light3;
    background-color: $white;

    @media screen and (max-width: $screen-xs) {
      min-height: 44px;
    }

    &.photo-input {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: $black;
      cursor: pointer;
    }

    &::placeholder {
      font-size: 13px;
      color: $text-color;
      transition: $main-transition;
    }

    &:focus {
      // border-color: $black;
      border-color: $sec;

      &::placeholder {
        opacity: 0;
      }
    }

    &.text-area {
      height: 145px;
      padding: 12px;

      &.sm {
        height: 90px;
      }

      &.lg {
        height: 230px;
      }
    }

    &.form {
      background-color: #f9f9f9;
      border: none;
      border-radius: 10px;
    }
  }

  .main-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include dir-right(14px);
    color: #3baeaa;
    font-size: 13px;
    cursor: pointer;
    pointer-events: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    max-width: 18px;

    &.ic {
      max-width: 12px;
      cursor: pointer;
    }

    &.search-ic {
      pointer-events: auto;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-210deg);
      width: 30px;
      height: 2px;
      border-radius: 10px;
      background-color: $main;
      opacity: 0;
      transition: $main-transition;
    }

    &.show {
      &::after {
        opacity: 1;
      }
    }
  }

  .sec-icon {
    position: absolute;
    top: 0;
    @include dir-right(0);
    background-color: $main;
    font-size: 15px;
    // pointer-events: none;
    border: none;
    outline: none;
    width: 50px;
    height: 100%;
    color: $white;
    @include center;
    border-radius: 6px;
  }
}



/********************* Bootstrap Modal *********************/

.modal::-webkit-scrollbar {
  width: 4px;
}
.modal::-webkit-scrollbar-track {
  background: $border-color;
}
.modal::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: $main;
}

.modal-dialog {
  min-width: 560px;

  &.lg {
    min-width: 640px;

    .modal-content {
      border-radius: 12px;
      padding: 40px 90px 45px;

      .modal-body {
        padding: 0;
      }

      @media screen and (max-width: $screen-lg) {
        padding: 40px 50px;
      }

      @media screen and (max-width: $screen-sm) {
        padding: 40px 30px;
      }

      @media screen and (max-width: $screen-xxs) {
        padding: 40px 15px;
      }
    }
  }

  @media (max-width: $screen-md) {
    margin: auto;
    min-width: calc(100% - 20px) !important;
  }

  .close-btn {
    position: absolute;
    top: 15px;
    @include dir-right(18px);
    background-color: transparent;
    padding: 0;
    line-height: 1;
    color: $dark;
    font-size: 24px;
    cursor: pointer;
  }

  .print-modal {
    background-color: transparent;
    font-size: 17px;
    color: $black;
    padding: 0;
    cursor: pointer;

    .print-icon {
      max-width: 27px;
      max-height: 32px;
    }
  }

  .close-modal {
    background-color: transparent;
    font-size: 16px;
    color: $black;
    padding: 0;
  }

  .head-btns {
    @include between;

    .close-modal {
      color: $black;
    }
  }

  .modal-content {
    padding: 40px 0px 45px;
    align-items: center;
    border-radius: 8px;

    &.print {
      padding: 30px 0px 30px;
    }

    @media (max-width: $screen-sm) {
      // padding: 30px 20px;
      width: calc(100% - 15px);
      margin: 15px auto;
    }

    .content-model-me {
      width: 100%;
    }

    .modal-header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: start !important;
      gap: 10px;
      border-bottom: none;
      margin-bottom: 25px;
      position: relative;
      flex: 1 1 auto;
      padding: 0px 20px 0;
      width: 100%;

      .modal-title {
        font-size: 17px;
        font-family: fontDemi;
        color: $black;
        margin-bottom: 0;
      }

      .modal-img {
        max-width: 90px;
        max-height: 110px;
        margin: auto;

        &.lg {
          width: 190px;
          height: 85px;
        }

        @media screen and (max-width: $screen-sm) {
          max-width: 65px;
          max-height: 95px;
        }
      }
    }

    .modal-body {
      width: 100%;
      padding: 0 80px;

      &.center {
        @include center;
        flex-direction: column;
        gap: 28px;
      }

      @media screen and (max-width: $screen-xs) {
        padding: 0 20px;
      }

      .modal-title {
        font-size: 16px;
        color: $black;
        text-align: center;
        font-family: fontDemi;
        margin-bottom: 18px;
      }

      .modal-text {
        font-size: 15px;
        color: $black;
        text-align: center;
        font-family: fontDemi;
        margin-bottom: 20px;
      }

      .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .modal-item {
          background-color: transparent;
          width: 100%;
          border: 1px solid $main;
          border-radius: 10px;
          @include center;
          gap: 7px;
          height: 50px;
          padding: 0px 12px;

          .img {
            max-width: 18px;
            max-height: 18px;
          }

          .text {
            font-size: 15px;
            color: $main;
          }

          .input-modal {
            width: 100%;
            height: 100%;

            &::placeholder {
              font-family: fontReg;
            }
          }
        }
      }

      .modal-img-body {
        width: 180px;
        height: 160px;
        display: block;
      }
    }

    .modal-footer {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 0;
      justify-content: center;
      padding: 0;
      border-top: none;
      gap: 15px;

      * {
        margin: 0;
      }

      .main-btn {
        margin: 0;
        min-width: 190px;
      }

      .social-ic {
        .ic {
          max-width: 45px;
          max-height: 45px;
        }
      }
    }

    .login-btn {
      min-height: 50px;
      border-radius: 10px;
      // width: 100%;
    }
  }
}

.modal-img-p {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

/********************* dropdown *********************/
.dropdown-menu {
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68, -0.3, 0.265, 2.1);
  box-shadow: $main-shadow;
  padding: 10px 8px;
  border-radius: 5px;
  min-width: 220px;
  #{$ltr} & {
    inset: 35px auto auto 0%;
  }
  #{$rtl} & {
    inset: 35px 0% auto auto;
  }
  transform: translate3d(0px, 0px, 0px);
  border: none;

  &.show {
    opacity: 1;
    pointer-events: auto;
    #{$ltr} & {
      inset: 28px auto auto 0% !important;
    }
    #{$rtl} & {
      inset: 28px 0% auto auto !important;
    }
    transform: translate3d(0px, 0px, 0px) !important;
  }

  &.left {
    // min-width: 180px;
    #{$ltr} & {
      inset: 35px 0% auto auto;
    }
    #{$rtl} & {
      inset: 35px auto auto 0%;
    }

    &.show {
      #{$ltr} & {
        inset: 28px 0% auto auto !important;
      }
      #{$rtl} & {
        inset: 28px auto auto 0% !important;
      }
    }
  }

  &.drop-lang {
    min-width: 150px;

    .lang-item {
      display: block;
      padding: 8px 12px;
      font-size: 14px;
      color: $black;
      transition: $main-transition;
      border-radius: 5px;

      &:hover {
        background-color: #f9f9f9;
      }
    }
  }

  &.drop-filter {
    &.show {
      #{$ltr} & {
        inset: 45px 0% auto auto !important;
      }
      #{$rtl} & {
        inset: 45px auto auto 0% !important;
      }
    }
  }

  .drop-item {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: $black;
    width: 100%;
    transition: $main-transition;

    &:hover {
      color: $main;
    }
  }

  &.lg {
    min-width: 160px !important;
  }

  &.xl {
    min-width: 190px !important;
  }
}

.dropdown-toggle {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;

  &.border-drop {
    border: 1px solid rgba($color: #000000, $alpha: 0.5);
    border-radius: 6px;
    height: 44px;
  }

  .drop-text {
    font-size: 14px;
    color: $white;

    @media screen and (max-width: $screen-xs) {
      font-size: 12px;
    }
  }

  .drop-ic {
    max-width: 32px;
    max-height: 18px;
    font-size: 14px;
    color: $white;
  }

  .drop-ic2 {
    max-width: 10px;
    max-height: 10px;
    object-fit: cover;
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.profile-drop {
  .profile-img {
    @include circle(40px);
  }

  .profile-name {
    font-size: 15px;

    @media screen and (max-width: $screen-xs) {
      display: none;
    }
  }
}

.flag-item {
  display: flex !important;
  align-items: center;
  gap: 5px;

  .drop-flag {
    max-width: 22px;
    max-height: 18px;
    object-fit: cover;
    border-radius: 2px;
  }

  .profile-ic {
    @include circle(30px);
    border: 1px solid $light4;
    @include center;
    flex-shrink: 0;

    .ic {
      max-width: 16px;
      max-height: 16px;
    }

    &.red {
      background-color: $red;
      border-color: $red;
    }
  }

  .flag-text {
    font-size: 15px;
    color: $black;
    transition: $main-transition;
  }

  &:hover,
  &.active {
    .flag-text {
      color: $main;
    }
  }
}