.footer{
    padding: 40px 0;
    position: relative;
    margin-top: 25px;
    background-color: rgba($color: $main, $alpha: .03);

    // &::after{
    //     content: "";
    //     position: absolute;
    //     top: -1.5px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: 400px;
    //     height: 3px;
    //     background-color: $main;
    //     border-radius: 15px;
    //     z-index: 1;

    //     @media screen and (max-width:$screen-xs) {
    //         width: 300px;
    //     }

    //     @media screen and (max-width:$screen-xxs) {
    //         width: 280px;
    //     }
    // }

    .foot-content{
        .footer-head{
            margin-bottom: 30px;
            font-size: 17px;
            color: $black;
            width: fit-content;
            font-family: fontDemi;

            @media screen and (max-width:$screen-xs) {
                font-size: 15px;
            }
        }

        .foot-logo{
            max-width: 80px;
            max-height: 90px;

            @media screen and (max-width:$screen-sm) {
                max-width: 65px;
                max-height: 85px;
            }
        }

        .footer-info{
            font-size: 15px;
            color: $black;
            line-height: 1.6;
            margin-top: 20px;

            @media screen and (max-width:$screen-sm) {
                font-size: 14px;
            }
        }

        .footer-links{
            .link{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 22px;
                width: fit-content;
                color: $black;
                transition: $main-transition;
                // font-size: 16px;
                cursor: pointer;
                background-color: transparent;

                &:hover{
                    #{$ltr} & {
                        transform: translateX(5px);
                    }
                    #{$rtl} & {
                        transform: translateX(-5px);
                    }
                    color: $main;
                }

                .ic{
                    max-width: 17px;
                    max-height: 17px;
                    font-size: 11px;

                    // #{$ltr} & {
                    //     transform: rotate(180deg);
                    // }

                    &.app-link{
                        max-width: 220px;
                        height: 55px;
                        border-radius: 5px;
                    }
                }

                @media screen and (max-width:$screen-md){
                    font-size: 13px;
                    margin-bottom: 15px;
                }
            }
        }
        
        .foot-social{
            display: flex;
            align-items: center;
            gap: 10px;

            .social-icon{
                @include circle(37px);
                @include center;
                background-color: $main;
                
                .social-ic{
                    transition: $main-transition;
                    max-width: 18px;
                    max-height: 20px;
                }

                &:hover{
                    .social-ic{
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }

}

.copy-right{
    background-color: $main;
    padding: 10px 0;
    
    .copy-content{
        @include center;
        font-size: 14px;
        color: $white;
        text-align: center;
    }
}
